#{extends '/navigatable.html' /}
#{set title:'My Profile'/}
#{set 'moreScripts'}
	#{include '/public/javascripts/profiles/profiles.js' /}
#{/set}
<div class="container-fluid">
	#{if applicationStatus}
	<h5>Application Status : #{applicationStatusTag
		applicationStatus:applicationStatus/}</h5>
	#{/if}
	<div class="col-lg-6 col-lg-offset-1  col-md-6 col-md-offset-1 top10">

		#{form @Profiles.submitApplication()}
		<form id="js-profile-form-container">
			#{include 'Profiles/tags/showFormInputs.html'/}
			<div class="form-group">
				<input type="submit"
					class="btn btn-success col-lg-5 col-lg-offset-2" name="Submit"
					value="Submit Application" />
			</div>
		</form>
		<div>
			<button class="btn btn-primary col-lg-3 col-lg-offset-1" name="Save"
				id="js-save-profile" value="Save">Save</button>
		</div>
		#{/form}
	</div>
</div>